.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-container {
  display: flex;
}

.App-container-block {
  flex: 25%;
}

.App-container-block-editor {
  flex: 50%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none; /* Убираем маркеры */
}

.Editor-header {
  display: flex;
}

.Editor-header-element {
  flex: 50%;
}

.Editor-container {
  display: flex;
  margin: 5px 10% 5px 10%;
}

.Editor-container-element {
  width: 200px;
}

.Editor-input {
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box; 
  box-sizing:border-box;
  width: 100px;
}

.Like-link {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.Like-link-selected {
  cursor:pointer;
  color:red;
  text-decoration:underline;
}

.Upgrade-row {
  width: 100%;
  justify-content: center;
  margin-bottom: 5px;
  display: flex;
}

.Upgrade-item {
  display: flex;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
}

.Upgrade-item-delete {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.Upgrade-item-selected {
  color: red;
}

.Upgrade-editor {
  margin-top: 80px;
}

.Damage-container {
  margin-top: 50px;
}

.Damage-table {
  width: 100%;
}

.Damage-table td {
  border: solid 1px black;
}